<!DOCTYPE html>
<html>
<head>
	<title>calcProject</title>
	<!-- <base href="src/" target="_blank"> -->
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="src/mathquill/build/mathquill.css">
	<script type="text/javascript" src="src/mathquill/test/support/jquery-1.7.2.js"></script>
	<script type="text/javascript" src="src/mathquill/build/mathquill.js"></script>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="src/angular/modules/app.js"></script>
	<script src="src/angular/controllers/app.controller.js"></script>


	<script src="src/mathbox/build/mathbox-bundle.js"></script>
	<link rel="stylesheet" href="src/mathbox/build/mathbox.css">

	<script src="src/functions.js"></script>


	<link rel="stylesheet" href="src/d3sm0s/source/mathbar.css"></link>
	<script src="src/d3sm0s/source/d3sm0s.js"></script>

	<!-- <meta name="viewport" content="initial-scale=1, maximum-scale=1"> -->


</head>
<body ng-app="App">
   <div class="container-fluid mathbar" id = "equationScope" ng-controller="AppController">
	  <div class="row">
		<div class="col-md-3">
		  <button class="btn btn-primary mt-3" ng-click="addEquation()">Adicionar</button>
		  <ul class="list-group mt-3">
			<li id = "equationScope" ng-controller="AppController" class="list-group-item" ng-repeat="equation in equations">
			  <span id="equation{{ $index }}"></span>
			</li>
		  </ul>
		</div>
<!--         <div class="col-md-9">
		  <pre class="mt-3">
			{{ equations }}
		  </pre>
		</div> -->
	  </div>
	</div>

	<script type="application/glsl" id="vertex-xyz">
		// Enable STPQ mapping
		#define POSITION_STPQ;
	
		// vec4 getArray1Sample(vec4 xyzw);
		// vec4 getArray2Sample(vec4 xyzw);
	
		//vec4 getSample(vec4 xyzw);
	
		void getVertex(inout vec4 xyzw, inout vec4 stpq) {
			// Store XYZ per vertex in STPQ
			stpq = xyzw;
		}
		</script>
	
		<script type="application/glsl" id="fragment-xyz">
		// Enable STPQ mapping
		#define POSITION_STPQ
	
		varying vec3 vNormal;
		varying vec3 vLight;
		varying vec3 vPosition;
		uniform float scale;
	
		// credits to https://github.com/kbinani/glsl-colormap
		float colormap_red(float x) {
			if (x < 0.7) {
					return 4.0 * x - 1.5;
			} else {
					return -4.0 * x + 4.5;
			}
		}
	
		float colormap_green(float x) {
			if (x < 0.5) {
					return 4.0 * x - 0.5;
			} else {
					return -4.0 * x + 3.5;
			}
		}
	
		float colormap_blue(float x) {
			if (x < 0.3) {
				 return 4.0 * x + 0.5;
			} else {
				 return -4.0 * x + 2.5;
			}
		}
	
		vec4 colormap(float x) {
			float r = clamp(colormap_red(x), 0.0, 1.0);
			float g = clamp(colormap_green(x), 0.0, 1.0);
			float b = clamp(colormap_blue(x), 0.0, 1.0);
			return vec4(r, g, b, 1.0);
		}
		//
	
		// default mathbox material shader
		vec3 offSpecular(vec3 color) {
			vec3 c = 1.0 - color;
			return 0.5 - c * c;
		}
	
		vec4 getShadedColor(vec4 rgba, inout vec4 stpq) {
			
			vec3 color = colormap(scale*stpq.z+0.5).xyz;
			vec3 color2 = offSpecular(rgba.xyz);
	
			vec3 normal = normalize(vNormal);
			vec3 light = normalize(vLight);
			vec3 position = normalize(vPosition);
			
			float side    = gl_FrontFacing ? -1.0 : 1.0;
			float cosine  = side * dot(normal, light);
			float diffuse = mix(max(0.0, cosine), .5 + .5 * cosine, 1.0);
			
			vec3  halfLight = normalize(light + position);
			float cosineHalf = max(0.0, side * dot(normal, halfLight));
			float specular = pow(cosineHalf, 16.0);
			
			return vec4(color * (diffuse * .9 + .05) + .25 * color2 * specular, rgba.a);
		}
	
		</script>

	<script>

		var calc = new d3sm0s();

	</script>

</body>
</html>