<!DOCTYPE html>
<html>
<head>
	<title>D3SM0S</title>
	<base href="src/" target="_blank">
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="mathquill/build/mathquill.css">
	<script type="text/javascript" src="mathquill/test/support/jquery-1.7.2.js"></script>
	<script type="text/javascript" src="mathquill/build/mathquill.js"></script>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="angular/modules/app.js"></script>
	<script src="angular/controllers/app.controller.js"></script>


	<script src="mathbox/build/mathbox-bundle.js"></script>
	<link rel="stylesheet" href="mathbox/build/mathbox.css">

	<script src="dat-gui/build/dat.gui.min.js"></script>
	<script src="functions.js"></script>
	<script src="parser/parser.js"></script>

	<link rel="stylesheet" href="d3sm0s/source/mathbar.css"></link>
	<script src="d3sm0s/source/d3sm0s.js"></script>

	<!-- <meta name="viewport" content="initial-scale=1, maximum-scale=1"> -->


</head>
<body ng-app="App">

<!-- 	<div class="mathbar">
		<span id="editable-math" class="mathquill-math-field"></span>
	</div> -->

   <div class="container-fluid mathbar" id = "equationScope" ng-controller="AppController">
	  <div class="row">
		<div class="col-md-3">
		  <button class="btn btn-primary mt-3" ng-click="addEquation()">Adicionar</button>
		  <ul class="list-group mt-3">
			<li id = "equationScope" ng-controller="AppController" class="list-group-item" ng-repeat="equation in equations">
			  <span id="equation{{ $index }}"></span>
			</li>
		  </ul>
		</div>
<!--         <div class="col-md-9">
		  <pre class="mt-3">
			{{ equations }}
		  </pre>
		</div> -->
	  </div>
	</div>

	<script>

		var calc = new d3sm0s();

	</script>

</body>
</html>
