.mathbar {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1001; /* Stay on top */
    right: 0;
}

.mathquill-math-field {

    padding: 6px 8px 6px 16px;
    display: block;
}